{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #0b0f1a;
    color: white;
}

nav{
    background: #111827;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #00ffff;
}

nav a{
    color: #00ffff;
    text-decoration: none;
    margin: 0 12px;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover{
    color: #ff00ff;
}

header{
    text-align: center;
    padding: 80px 20px;
}

header h1{
    font-size: 42px;
    color: #00ffff;
    margin-bottom: 15px;
    text-shadow: 0 0 10px #00ffff;
}

header p{
    color: #d1d5db;
    font-size: 16px;
}

section,
div{
    width: 85%;
    max-width: 900px;
    margin: 30px auto;
    background: #111827;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #00ffff33;
}

h2{
    color: #ff00ff;
    margin-bottom: 15px;
}

h3{
    color: #00ffff;
    margin-bottom: 10px;
}

p{
    line-height: 1.7;
    margin-bottom: 15px;
}

ul{
    margin-left: 20px;
}

ul li{
    margin-bottom: 8px;
}

hr{
    border: none;
    height: 1px;
    background: #00ffff55;
    margin: 25px 0;
}

footer{
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #111827;
    border-top: 1px solid #00ffff33;
    color: #9ca3af;
}

media screen and (max-width: 768px){

    nav a{
        display: inline-block;
        margin: 8px;
    }

    header h1{
        font-size: 30px;
    }

    section,
    div{
        width: 92%;
    }
}

.profile{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    border: 2px solid cyan;
}
